@font-face {
    font-family: 'd-dinregular';
    src: url('fonts/d-din-webfont.woff2') format('woff2'),
         url('fonts/d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  line-height: 1.5;
}

body {
    font-family: d-dinregular, system-ui;
    display: flex;
    height: 100vh;
    margin: 0;
}

.image-splash {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url("img/olivia-rosth--9c5jzDszTw-unsplash.jpg");
    background-size: cover;
    justify-content: space-between;
}

.highlight {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    opacity: 50%;
    margin-top: 30vh;
    height: 150px;

}

.highlight-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

.highlight-content img {
    height: 90%;
}

.photo-credit {
    padding-bottom: 10px;
    color: rgba(219, 255, 223, 0.678);
    align-self: center;
}

.photo-credit a:link {
    color: rgba(219, 255, 223, 0.678);
}

.photo-credit a:hover {
    color: rgba(228, 235, 228, 0.897);
}

.photo-credit a:visited {
    color: rgba(115, 192, 113, 0.342);
}

.info-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;
}

.info-container-message {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 34px;
}

.signup-container {
    margin: 34px;
}

label {
    font-size: small;
}

.labels {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px #a8a8a8 solid;
    border-radius: 4px;
    height: 21px;
    width: 250px;
    outline: none;
}

input:focus {
    border: 1px #6e81ee solid;
    box-shadow: 1px 1px 2px rgb(172, 172, 172);
}

input:user-valid {
    border: 1px #266505 solid;
}

input:user-invalid {
    border: 1px #d33e3e solid;
}

.row-1,
.row-2,
.row-3 {
    display: flex;
    justify-content:space-around;
}

.account-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 34px;
}

.account-info a {
    color: #266505;
    text-decoration: none;
}

.account-info a:hover {
    color: #4485229d;
}

.account-info a:visited {
    color: #3f6928;
}

input[type="submit"] {
    height: 40px;
    font-size: larger;
    font-weight: bold;
    color: #e2dfd5;
    background-color: #266505;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgb(172, 172, 172);
    cursor: pointer;
}

.submit :active {
    transform: translateY(1px);
}